.sw
  @include fl-cl
  @include fl-c 
  width: 35vw 
  @media(max-width: $md)
    width: 45vw
  @media(max-width: $sm)
    width: 80vw

.sw-menu
  width: 100%
  @include fl-cl
  @include fl-sb

.sw-menu-swap
  @include def-p
  width: 80%
  height: 100%
  @include fl-cc
  position: absolute
  color: $color-ltext
  font-weight: 600

.sw-menu-settings
  width: 110%
  height: 100%
  @include fl-cc
  position: absolute
  z-index: 5

.sw-menu-settings-icon
  @include def-faicon
  color: #000

.sw-swap-box
  @include fl-cl
  @include fl-c
  width: 100%
  border: 1px solid $color-text
  border-radius: 0 0 0.5rem 0.5rem

.sw-input-cont-wrapper
  @include fl-cl
  @include fl-c
  gap: 1rem
  padding: 1rem
  width: 100%  

.sw-inpt-grp
  @include fl-cl
  @include fl-c
  width: 100%
  gap: 0.74rem

.sw-py-max-grp
  width: 100%
  @include fl-cl
  @include fl-sb

.sw-py
  @include def-p
  font-size: 1.2rem
  font-weight: 600
  letter-spacing: 0.03em
  color: #fff
  
.sw-max
  @extend .sw-py

.sw-inpt-cont
  width: 100%
  @include fl-cl
  @include fl-c
  background: rgba(255, 165, 0, 0.17)
  padding: 1.3rem 0.96rem
  border-radius: 0.3em

.sw-inpt-box
  @include fl-cl
  @include fl-sb
  gap: 0.5rem
  width: 100%
  padding-right: 0.5rem

.sw-inpt
  width: 72%
  @include def-p
  color: $color-ltext
  font-family: $font-inpt
  font-size: 4rem
  padding: 0.1em 0
  background: none
  outline: none
  border: none
  @media(max-width: $md)
    font-size: 4rem
  @media(max-width: $sm)
    font-size: 3rem

.sw-tkn-sel
  @include fl-cl
  gap: 1.2rem
  padding: 0.64rem 0.8rem
  background: $color-sub-bg
  border-radius: 0.3em
  cursor: pointer
  &:hover
    opacity: 0.8

.sw-selected-tkn
  @include fl-cl
  gap: 0.5rem

.sw-tkn-name
  @include def-p
  font-size: 1.6rem
  font-weight: 600
  letter-spacing: 0.05em
  color: #fff
  @media(max-width: $sm)
    font-size: 1.3rem

.sw-tkn-sel-icon
  @include def-faicon
  height: 1.2rem
  color: #fff

  
.sw-token-lg
  @extend .sw-tkn-sel-icon
  height: 1.4rem
  @media(max-width: $sm)
    height: 1.2rem  

.sw-doll-eq
  width: 100%
  @include fl-cl
  @include def-p
  font-size: 1.2rem
  font-weight: 600
  color: $color-mtext

.sw-swap-cta
  @include fl-cc
  width: 100%
  padding: 1rem
  padding-top: 0

.sw-swap-btn
  @include def-btn
  border: none
  background: $color-text
  width: 100%
  font-size: 1.8rem
  font-family: $font-inpt
  color: black
  @include fl-cc
  padding: 0.7em
  font-weight: 500
  letter-spacing: 0.04em
