.tlm-reactive
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  // z-index: 10
  // background: rgba(0,0,0,0.11)
  background: blue
  @include fl-cc
  @include fl-c

.tlm
  // margin-left: 50%
  // margin-top: 50%
  width: 30vw
  height: 35vw
  overflow: hidden
  background: #000
  box-shadow: 0 0 10px 10px rgba(255,255,255,0.05)
  border-radius: 10px
  padding: 1rem
  @include fl-tl
  @include fl-c
  // z-index: 15

.tlm-grp
  width: 100%
  overflow-y: scroll
  @include fl-tl
  @include fl-c  

.tlm-tkn-grp
  @include fl-cl

.tlm-tkn-name
  @include def-rp
