.nv
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 10
  padding: 1.8rem

.nv-wrapper
  width: 100%
  @include fl-cl
  @include fl-sb

.nv-logo
  @include fl-cl
  gap: 0.4rem
  color: $color-text
  font-family: $font-logo
  font-weight: 700
  font-size: 2.5rem
  letter-spacing: 0.04em
  p
    @media(max-width: $md)
      display: none

.nv-conn-btn
  @include fl-cl
  gap: 0.8rem
  outline: none
  border: 1px solid $color-text
  border-radius: 0.25em
  background: $color-sub-bg
  font-family: $font-text
  font-weight: 600
  font-size: 1.6rem
  line-height: 1em
  padding: 0.4em 0.7em
  color: $color-ltext
  cursor: pointer
  &:hover
    opacity: 0.8

.nv-wallet-icon
  height: 1.6rem
  color: $color-ltext
