.ft
  position: absolute
  bottom: 0
  width: 100%
  padding: 2rem

.ft-wrapper
  width: 100%
  @include fl-cl
  @include fl-sb
  .ft-info-lg
    @include def-rp
    @media(max-width: $sm)
      display: none
  .ft-info-sm
    display: none
    @media(max-width: $sm)
      @include fl-cl
      @include fl-c
      gap: 0.4rem
      span
        @include def-rp


.ft-logo
  @include fl-cl
  gap: 0.4rem
  img
    height: 2.5rem
  p
    display: none
  color: $color-text
  font-family: $font-logo
  font-weight: 600
  font-size: 1.8rem
  letter-spacing: 0.04em

.ft-git-icon
  height: 2.4rem
  color: $color-text
  cursor: pointer
  &:hover
    opacity: 0.8
  