@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;600;700&display=swap')

$font-logo: 'Chakra Petch', sans-serif
$font-text: "PT Mono", monospace

$color-subtext: #DF740C
$color-bg: #000
$color-text: #FF9326
$color-ltext: #E39950
$color-mtext: #E3BB94
$color-sub-bg: #FFE2C4
$color-htext: #F6F4FB
$color-node-ring: #C4A2E7
$color-complement: #0BACDE
$color-btn: linear-gradient(98.97deg, #2474C6 -35.95%, #C4A2E7 114.36%)

$lg: 1250px
$md: 1000px
$sm: 600px

:root
  scrollbar-color: #FF9326 #AD5B09 !important
  scrollbar-width: thin !important