*
  box-sizing: border-box
  padding: 0
  margin: 0
  scroll-behavior: smooth

html,
body 
  background-color: #fff
  background-image: url(../public/muudi__bg.svg)
  background-repeat: no-repeat
  overflow: overlay
  color: #fff
  min-height: 100vh

html
  font-size: 62.5%

body
  font-size: 1.6rem
  @media(max-width: $md)
    font-size: 1rem
  @media(max-width: $sm)
    font-size: 0.8rem

div, section, article 
  scrollbar-color: #FF9326 #AD5B09 !important
  scrollbar-width: thin !important

a 
  color: unset
  text-decoration: none

button
  border: none
  background: none
  outline: none
  &:disabled
    opacity: 0.5
    cursor: unset

.p-page
  width: 100%
  min-height: 100vh
  height: 100vh
  position: relative

.p-full
  width: 100%
  height: 100%
  padding-bottom: 7rem // footer-height